
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~air-datepicker/dist/css/datepicker.min.css';

// Sweetalert
@import '~sweetalert2/src/sweetalert2.scss';

// BootstrapSelect
@import '~bootstrap-select/sass/bootstrap-select.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sticky {
  position: sticky !important;
  z-index: 2;
  top: 0;
  border-bottom: 1px solid #ddd;
}

.editor-toolbar {
  /*background-color: #f8fafeff !important;*/
  width: 100%;
  opacity: 1 !important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#folder {
  color: #5cc4ef;
}

/* Source : https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: '\201e';
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.1em;
}

blockquote p {
  display: inline;
}